.page-footer {
  width: 320px;
  margin: 0 auto;
  display: none;
  background-color: white;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
    width: 660px;

    min-height: 127px;
  }

  .page-footer__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    min-height: 127px;
  }

  .footer__logo {
    width: 150px;
    height: 40px;
  }

  .footer__social {
    width: 179px;
  }

  .footer__copyright {
    width: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;

    min-height: 197px;
  }

  .page-footer__wrapper {
    width: 940px;
    padding: 0 130px;

    min-height: 195px;
  }
}
