.page-footer {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    background: transparent;

    min-height: 127px;
  }

  .page-footer__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0;

    min-height: 127px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background: transparent;

    min-height: 195px;
  }

  .page-footer__wrapper {
    width: 940px;
    padding: 0 130px;
    margin: 0;

    min-height: 195px;
  }
}
