.comment {
  width: 280px;
  display: flex;
  flex-direction: column;
  color: @color-black;
  background-color: @color-grey;
  margin: 0 auto;
}

.comment__wrapper {
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 8px;
  margin: 0;
}

.comment__author-name {
  .font-bold;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  font-style: normal;
}

.comment__time {
  .font-light;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.comment__text {
  margin: 0;

  .font-regular;
  line-height: 24px;
  text-align: left;
}

.comment__likes {
  padding-left: 18px;
  padding-bottom: 21px;
}

.comment__likes--heart {
  padding: 0;
  font-family: inherit;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: @color-pink;
  background-image: url("../../../img/icon-heart.svg");
  background-size: 13px 12px;
  background-repeat: no-repeat;
  background-position: 0;
  opacity: 0.8;
  outline-color: transparent;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    background-image: url("../../../img/icon-like.svg");
    background-size: 13px 12px;
    background-repeat: no-repeat;
    background-position: 0;
  }
}

.added {
  background-image: url("../../../img/icon-like.svg");
  background-size: 13px 12px;
  background-repeat: no-repeat;
  outline-color: transparent;
}

.comment__likes--text {
  margin-left: 18px;
}

.comment__likes--number {
  margin-left: 5px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .comment {
    width: 300px;
    position: relative;

    min-height: 155px;
  }

  .comment__wrapper {
    padding-left: 27px;
    padding-top: 20px;
    padding-right: 27px;
    padding-bottom: 10px;
  }

  .comment__wrapper--panorama {
    padding-left: 27px;
    padding-top: 24px;
    padding-right: 27px;
    padding-bottom: 20px;
  }

  .comment--panorama {
    position: relative;
    width: 620px;

    min-height: 121px;
  }

  .comment__likes {
    padding: 0 27px;
    position: absolute;
    bottom: 25px;
    width: 240px;
  }

  .comment__likes--heart {
    min-width: 240px;
    margin: 0 auto;
    background-position: right;
  }

  .comment__likes--text {
    margin-left: -160px;
  }

  .comment__likes--panorama {
    position: absolute;
    right: 0;
    top: 25px;
    bottom: 0;
    width: 120px;

    .comment__likes--heart {
      min-width: 100px;
    }

    .comment__likes--text {
      margin-left: 0;
    }

    .comment__likes--number {
      margin-right: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comment--panorama {
    position: relative;
    width: 940px;
    min-height: 96px;
  }

  .comment__wrapper--panorama {
    padding-top: 22px;
  }
}

