.copyright {
  width: 140px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: @color-black;
  }

  &__link {
    width: 27px;
    height: 34px;
    margin-left: 15px;
  }
}

.copyright__logo {
  fill: @color-pink;

  &:hover {
    fill: @color-black;
    opacity: 1;
  }

  &:active {
    fill: @color-black;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    justify-content: flex-end;
  }

  .copyright__link {
    fill: @color-pink;

    &:hover {
      fill: @color-black;
      opacity: 1;
    }

    &:active {
      fill: @color-black;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 150px;

    &__text {
      font-size: 18px;
      line-height: 18px;
    }

    &__link {
      margin-left: 10px;
    }
  }
}
