.price {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background: url("../../../img/Shape 2 copy-mobile.png");

  //временно для сетки
  min-height: 506px;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.table {
  width: 100%;
  display: inline-block;
  margin: 0;
  margin-top: 124px;
  padding: 0;


  min-height: 279px;
}


.price__toggles {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;

  min-height: 15px;
}
