.reviews {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  //временно для сетки
  min-height: 319px;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;

  //временно для сетки
  min-height: 319px;
}

.reviews__list {
  width: 280px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-top: 41px;
  text-align: center;
}

.reviews__author-picture {
  display: none;
}

.reviews__author-name {
  display: inline-block;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: black;
}

.reviews__author-data {
  display: none;
}

.reviews__text {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 660px;

    //временно для сетки
    min-height: 235px;
  }

  .reviews__wrapper {
    width: 620px;

    //временно для сетки
    min-height: 235px;
  }

  .reviews__list {
    width: 620px;

    //временно для сетки
    min-height: 200px;
  }

  .reviews__item {
    width: 620px;
    padding: 0;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-weight: bolder;
  }

  .reviews__author-data {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    color: #283645;
  }

  .reviews__text {
    order: -1;
    margin-bottom: 35px;
    font-size: 18px;
  }

  //.reviews__toggles {
  //  min-width: 70px;
  //
  //  min-height: 13px;
  //}
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1200px;
    margin: 0 auto;
    padding: 0;

    //временно для сетки
    min-height: 406px;
  }

  .reviews__wrapper {
    width: 940px;

    //временно для сетки
    min-height: 406px;
  }

  .reviews__list {
    width: 940px;

    //временно для сетки
    min-height: 406px;
  }

  .reviews__item {
    width: 690px;
    margin: 0 auto;
  }

  .reviews__author-picture {
    order: -1;
    margin: 0;
    margin-top: 72px;
    margin-bottom: 40px;
    display: inline-block;
    text-align: center;

    min-height: 63px;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 35px;
  }

  .reviews__author-image {
    width: 79px;
    height: 63px;
  }

  .reviews__author-name {
    margin: 0;
    font-size: 24px;
    margin-bottom: 2px;
  }

  .reviews__author-data {
    margin: 0;
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }
}
