//color:
@color-blue: #1d2631;
@color-black: #283645;
@color-pink: #d22856;
@color-grey: #f2f2f2;
@color-green: #2aab6d;
@color-link: rgb(210, 40, 86);


.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

.reset-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}
