@import "variables";
@import "scaffolding";
@import "mixins";
@import "blocks/page-header/page-header";
@import "blocks/main-nav/main-nav";
@import "blocks/page-main/page-main";
@import "blocks/download/download";
@import "blocks/advantages/advantages";
@import "blocks/reviews/reviews";
@import "blocks/price/price";
@import "blocks/page-footer/page-footer";

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background: @bg-darkgrey url("../preview/pink-index-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 320px;
}

@media (min-width: @tablet-width) {
  body {
    background: @bg-darkgrey url("../preview/pink-index-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;
  }
}

@media (min-width: @desktop-width) {
  body {
    background: @bg-darkgrey url("../preview/pink-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  //text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  background-color: transparent;
  box-sizing: border-box;
}

//.main-nav {
//  //временно для сетки
//  min-height: 255px;
//}
//
//@media (min-height: @tablet-width) {
//  .main-nav {
//    //временно для сетки
//    min-height: 255px;
//  }
//}
//
//@media (min-height: @desktop-width) {
//  .main-nav {
//    //временно для сетки
//    min-height: 110px;
//  }
//}
