@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/OpenSans-Light-webfont.woff") format("woff");
}

body {
  min-height: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif, "Arial";
  color: #ffffff;
  font-weight: normal;
  background-color: @bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  //text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
