.page-header {
  width: 320px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
}

.page-header__list {
  .reset-list();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  //временно для сетки
  min-height: 69px;
}

.page-header__logo {
  min-width: 74px;
}

.page-header__burger {
  min-width: 50px;
  min-height: 24px;
}

.main-nav {
  //временно для сетки
  min-height: 255px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-width: 660px;
  }

  .page-header__list {
    width: 620px;
    margin: 0 auto;
    //временно для сетки
    height: 110px;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;

    //почему не срабатывает?
    background: url("../../../img/logotype-white-tablet.svg") no-repeat 50% 0;
  }

  .page-header__logo-image {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: 1200px;

    //временно для сетки
    height: 110px;
  }

  .page-header__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //временно для сетки
    min-height: 110px;
  }

  .page-header__list {
    width: 150px;
    margin: 0;
  }

  .page-header__logo {
    min-width: 150px;

    //почему не срабатывает?
    background: url("../../../img/logotype-white-desktop.svg") no-repeat 50% 0;
  }

  .page-header__logo-image {
    display: none;
  }

  .page-header__burger {
    display: none;
  }

  .main-nav {
    width: 620px;
    //временно для сетки
    min-height: 110px;
  }
}

.page-header,
.page-header__wrapper,
.page-header__list,
.page-header__logo,
.page-header__burger {
  .no-outline();
}
