.download {
  width: 320px;
  margin: 0 auto;

  //временно для сетки
  min-height: 733px;
}

.download__header {

}

@media (min-width: @tablet-width) {
  .download__image {
    display: none;
  }

  .download__header {
    width: 660px;
    background: url("../../../img/back-hand-tablet.png") no-repeat 50% 0;

    //временно для сетки
    min-height: 729px;
  }
}

@media (min-width: @desktop-width) {
  .download__image {
    display: none;
  }

  .download__header {
    width: 1200px;
    background: url("../../../img/back-hand-desktop.png") no-repeat 50% 0;

    //временно для сетки
    min-height: 854px;
  }
}
