.download {
  width: 320px;
  margin: 0 auto;
  background-color: #283645;

  //временно для сетки
  min-height: 271px;
}

.download__header {
  width: 280px;
  margin: 0 auto;
}

.download__slogan {
  display: none;
}

.download__button {
  width: 280px;
  height: 55px;
  margin-top: 28px;
  margin-bottom: 32px;
  padding: 16px 40px;
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  box-sizing: border-box;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 60px;
}

//@media (min-width: @tablet-width) {
//
//}
//
//@media (min-width: @desktop-width) {
//
//}
