.advantages {
  width: 280px;
  margin: 0 auto;
  padding: 0;

  //временно для сетки
  min-height: 1002px;
}

.advantages__slogan {
  display: inline-block;
  margin-top: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  color: #283645;
}

.advantages__slogan--slogan {
  display: inline-block;
  width: 280px;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 30px;
  text-align: center;
}

.advantages__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 83px;
  display: flex;
  flex-direction: column;
}

.advantages__item {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
  text-align: center;
  color: black;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantages__description {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.advantages__list-iphone {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
}

.advantages__item-phone {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  text-align: center;
}

.screen {
  display: none;
}

.screen3 {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 157px;
  height: 277px;
  background: url("../../../img/iphone screen 3-mobile-cut2.png") no-repeat 100%;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 620px;

    //временно для сетки
    min-height: 725px;
  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 48px;
    margin-top: 50px;
  }

  .advantages__slogan--slogan {
    display: inline-block;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 43px;
  }

  .advantages__list {
    width: 320px;
    margin-left: 300px;
    padding-top: 78px;
  }

  .advantages__item {
    margin-bottom: 36px;
    padding-left: 10px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    padding-top: 12px;
    text-align: left;
  }

  .advantages__list-iphone {
    padding: 0;
    margin: 0;
    margin-top: -474px;
  }

  .advantages__item-phone {
    //display: inline-block;
    //margin: 0 auto;
    //padding: 0;
    //align-items: center;
    //text-align: center;
  }

  .screen3 {
    margin: 0;
    width: 268px;
    height: 481px;
    background: url("../../../img/Iphone screen 3-tablet.png") no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 940px;

    //временно для сетки
    min-height: 1363px;
  }

  .advantages__slogan {
    display: inline-block;
    width: 940px;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px;
    margin-top: 67px;
  }

  .advantages__slogan--slogan {
    display: inline-block;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
