.page-main {
  width: 320px;
  margin: 0 auto;
  background: url("../../../img/Shape 2-mobile.png") no-repeat 50% 907px;
}

.page-main--nav-opened {
  padding-top: 259px;
  background: url("../../../img/Shape 2-mobile.png") no-repeat 50% 44.3%;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 660px;
    background: url("../../../img/Shape 2-tablet.png") no-repeat 50% 946px;
  }

  .page-main--nav-opened {
    padding-top: 255px;
    background: url("../../../img/Shape 2-tablet.png") no-repeat 50% 42%;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1200px;
    background: url("../../../img/Shape 2-desktop.png") no-repeat 50% 1170px, url("../../../img/bg-gray-desktop.png") no-repeat 50% 1785px;
  }
}
