.contacts {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  margin-top: -41px;
  text-align: center;

  min-height: 602px;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: 82px;
  padding: 0;
  background-color: white;
}

.contacts__title {
  margin-top: 40px;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: @color-black;
}

.contacts__list {
  .reset-list();
  background-color: white;
}

.contacts__item {
  margin: 0 auto;
  margin-bottom: 15px;
  color: @color-black;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: @color-black;
}

.contacts__text {
  width: 237px;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  color: @color-pink;

  &:hover {
    color: @color-black;
  }

  &:active {
    color: @color-black;
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  overflow: hidden;
  width: 320px;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  padding: 0;
  background-image: url("../../../img/map-mobile.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;

  //@media (min-resolution: $retina-dppx) {
  //  background-image: url("../../../img/map-mobile.jpg");
  //}
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  width: 600px;
  height: 123px;
  background-image: url("../../../img/icon-triangle-white-footer.svg");
  background-size: 1300px 123px;
  background-position: top -10px center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 660px;
    position: relative;
    padding: 0;
    margin: 0 auto;

    min-height: 779px;
  }

  .contacts__wrapper {
    width: 660px;
    padding: 0;
    margin: 0 auto;
  }

  .contacts__title {
    padding: 45px 45px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 45px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }

  .contacts__item {
    flex-grow: 1;
    width: 50%;
    margin-bottom: 40px;
    box-sizing: border-box;
  }

  .contacts__list li:nth-child(3) {
    margin-bottom: 0;
  }

  .contacts__map {
    width: 700px;
    height: 390px;
    background-image: url("../../../img/map-tablet.jpg");
    background-position: bottom 25% center;

    &::before {
      top: 20px;
      width: 700px;
    }
  }

  .contacts__map iframe {
    width: 700px;
    height: 407px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    min-height: 868px;
  }

  .contacts__wrapper {
    width: 1200px;
  }

  .contacts__title {
    padding: 62px 160px;
    padding-bottom: 55px;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    padding: 0 130px;
  }

  .contacts__item {
    width: 15%;
  }

  .contacts__list li:nth-child(3) {
    order: 2;
  }

  .contacts__list li:nth-child(2) {
    order: 3;
  }

  .contacts__list li:nth-child(1) {
    order: 1;
  }

  .contacts__subtitle {
    display: inline-block;
    margin-bottom: 22px;
  }

  .contacts__map {
    width: 1200px;
    height: 507px;
    background-image: url("../../../img/map-desktop.jpg");
    background-position: center;


    &::before {
      top: 61px;
      width: 1200px;
      background-size: 107%;
    }
  }

  .contacts__map iframe {
    width: 1200px;
    height: 507px;
  }
}
